<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    
    <servers>
        <server>
            <id>matson-central</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>

    <!-- Configure the mirror for all repositories -->
    <mirrors>
        <mirror>
            <id>matson-maven-central-store</id>
            <mirrorOf>*</mirrorOf> <!-- This ensures all requests go to CodeArtifact -->
            <url>https://matson-891377353125.d.codeartifact.us-east-1.amazonaws.com/maven/maven-central-store/</url>
            <blocked>false</blocked>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>aws-codeartifact</id>
            <repositories>
                <repository>
                    <id>matson-maven-central-store</id>
                    <url>https://matson-891377353125.d.codeartifact.us-east-1.amazonaws.com/maven/maven-central-store/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>aws-codeartifact</activeProfile>
    </activeProfiles>
</settings>





